{% extends "base.html" %}
<!--
<html>
<head>
<style>
.index {
  background-color: green;
  color: white;
  padding: 20px;
}
</style>
</head>
<body>
-->


{% block page_content %}
<div class="index">
  <h2>My First App</h2>
  <p>Bulding my own app. All suggestions are welcome.</p>
  <p>I will not be mad if you tell me I suck at this, just point me to the right direction = )</p>
  <p>Will make a form for submitting ideas, bug reports and stuff soon.</p>
</div>
{% endblock %}

<!--
</body>
</html>
-->
